<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}{{#is "post"}} - {{@blog.title}}{{/is}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link href="{{asset "css/metro.css"}}" rel="stylesheet">
		<link href="{{asset "css/metro-schemes.css"}}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{asset "css/metro-icons.css"}}"/>
		<link rel="stylesheet" href="{{asset "css/metro-rtl.css"}}" />
		<link rel="stylesheet" href="{{asset "css/metro-responsive.css"}}" />
		<link href="{{asset "css/style.css"}}" rel="stylesheet">
    	<script src="{{asset "js/jquery.js"}}"></script>
    	<script src="{{asset "js/jquery.mousewheel.js"}}" type="text/javascript" charset="utf-8"></script>
    	<script src="{{asset "js/index.js"}}" type="text/javascript" charset="utf-8"></script>
    	<script src="{{asset "js/metro.js"}}"></script>
	
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<div class="blogbar fixed-bottom {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{/if}}">
	<div class="container">
		{{#is "home, paged"}}{{pagination}}{{/is}}
		{{#is "post"}}
			{{#post}}
				{{#prev_post}}
			    <div class="nextpage"><a href="{{url}}" class="mif-chevron-thin-right mif-4x fg-white" alt="{{title}}"></a></div>
			    {{/prev_post}}
			    {{#next_post}}
			    <div class="prevpage"><a href="{{url}}" class="mif-chevron-thin-left mif-4x fg-white" alt="{{title}}"></a></div>
			    {{/next_post}}
			{{/post}}
		{{/is}}
		<h3><a style="color: white;" href="{{@blog.url}}">{{@blog.title}}</a></h3>
		<h5>{{@blog.description}}</h5>
		<a class="button cycle-button ribbed-blue" style="color:white"><span class="mif-twitter icon"></span></a>
		<a class="button cycle-button ribbed-red" style="color:white"><span class="mif-google-plus icon"></span></a>
		<a class="button cycle-button ribbed-yellow" style="color:white"><span class="mif-facebook icon"></span></a>
		<a class="button cycle-button ribbed-white"><span class="mif-github icon"></span></a>
		<a class="button cycle-button ribbed-green"><span class="mif-steam icon"></span></a>
	</div>
</div>
<div class="bgcover"></div>
<body class="{{body_class}} nav-closed">
	
<div class="bg" style="background-image:url({{asset "img/background.jpg"}});background-size:cover;"></div>
{{navigation}}
    <div class="site-wrapper">



        {{! Everything else gets inserted here }}
        {{{body}}}


    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
