{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}


<div class="postwapper">
	<div class="artmain">
		<div class="title">
			<div class="textinfo">
				<h3>{{title}}</h3>
				<p><span class="mif-user icon"></span> {{author.name}} 发布于 {{date format="DD MMMM YYYY"}}</p>
				<p><span class="mif-bubble icon"></span> 共有2333条评论，最后评论于2016年5月2日12:40:58</p>
			</div>
			<div class="avatar">
				<img src="{{author.image}}">
			</div>
		</div>
		<div class="content">
			{{content}}
		</div>
		<div class="comments"> 
			<!-- 请根据自己的需要选择Disqus评论或多说评论，本主题对多说有自定义CSS修改 -->
			
			<!--<div id="disqus_thread" class="margin10"></div>
			<script>
			/**
			* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
			*/
			var disqus_config = function () {
			this.page.url = "{{url absolute="true"}}";
			this.page.identifier = {{id}} };
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			
			s.src = '//archeb.disqus.com/embed.js';
			
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			 
			</div>-->
			
			
			<!-- 多说评论框 start -->
			<div class="ds-thread" data-thread-key="{{id}}" data-title="{{title}}" data-url="{{url absolute="true"}}"></div>
			<!-- 多说评论框 end -->
			<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
			<script type="text/javascript">
			var duoshuoQuery = {short_name:"archebasic"};
				(function() {
					var ds = document.createElement('script');
					ds.type = 'text/javascript';ds.async = true;
					ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
					ds.charset = 'UTF-8';
					(document.getElementsByTagName('head')[0] 
					 || document.getElementsByTagName('body')[0]).appendChild(ds);
				})();
			</script>
			<!-- 多说公共JS代码 end -->

		</div>

	</div>
</div>

{{/post}}